# Assingnment - 3 for Data Science With Python

***1-For the below DataFrame creats a column "Age Category" which classifies the ages as Minor,Adult,or Senior.***

In [85]:
import pandas as pd
data = {"Age":[12,13,14,23,32,52,27,12,75,45]}
add_c = {"Age Category":["Minor","Adult","Senior"]}
df = pd.DataFrame(data)
dff = pd.DataFrame(add_c)
df>18
df<18
df>70
dff+df

   Age Age Category
0  NaN          NaN
1  NaN          NaN
2  NaN          NaN
3  NaN          NaN
4  NaN          NaN
5  NaN          NaN
6  NaN          NaN
7  NaN          NaN
8  NaN          NaN
9  NaN          NaN

***2. write a NumPy Program to change two array axes.***<br>
 ***Same array : [[1,2,3]]<br>
 Expected output:<br>
 [[1]<br>
 [2]<br>
 [3]]***

In [26]:
import numpy as np
array = np.array([[1,2,3]])
array.resize(3,1)
array

array([[1],
       [2],
       [3]])

***3. Write a NumPy program to sun all the multiples of 3 or 5 below 100.***

In [48]:
arr = np.arange(1,100)

In [72]:
ar3 = arr[arr%3==0]
print(ar3)
ar5 = arr[arr%5==0]
print(ar5)
S3 = sum(ar3)
S5 = sum(ar5)
S3+S5

[ 3  6  9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72
 75 78 81 84 87 90 93 96 99]
[ 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95]

2633