1. Find the numbers that are mulitple of 3 from a given series.

In [2]:
import pandas as pd

sc = pd.Series([1,2,3,4,5,6,7,8,9,10])
sc[sc%3==0]

2    3
5    6
8    9
dtype: int64

In [15]:
ser = pd.Series(list('abcdefghijkalmopqurstuvwxyz'))
pos = [0,4,8,14,20]
ser[pos]

0     a
4     e
8     i
14    o
20    t
dtype: object

3. Reverse the values of each row of a DataFrame containing 2 columns and 5 rows.

In [55]:
d = pd.DataFrame([[1,2],[3,4],[6,7],[8,9],[10,11],[12,13]])
d[[0,1]]=d[[1,0]]
d

    0   1
0   2   1
1   4   3
2   7   6
3   9   8
4  11  10
5  13  12

In [5]:
c = pd.DataFrame([[1,2],[3,4],[6,7],[8,9],[10,11],[12,13]])
c.reindex(columns = [1,0])

    1   0
0   2   1
1   4   3
2   7   6
3   9   8
4  11  10
5  13  12