# Data Manipulation with Pandas.

- Pandas is a pyhton packege that allow you to work with large database.
- It offers tools form data analysic,clearsize,expolration, and mainpulation of data.

Pandas library is built on top of the humpy, which means

In [2]:
import pandas as pd #Importing the pandas library.

# Data Structures
 - Series
 - DataFrame

# Series

Pandas Series objects are generally created from the following data type.

- 1. Scalar
- 2. ndarray
- 3. Dictionary
- 4. List

pd.Series(data,index,dtype)

In [2]:
# Creating from a scalar value.

x = pd.Series("string")
x

0    string
dtype: object

In [3]:
# Creating from an ndarray.

import numpy as np
arr = np.array([1,2,3,4,5])
series1 = pd.Series(arr)
print(series1)

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [4]:
# Creating from a list.

List = [1,2,3,4,5,6,7,8,9]
series2 = pd.Series(List)
print(series2)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [14]:
y = pd.Series(["Rohit","mohit","rishi"])
print(y)
print("\n")
y[2]="gaurav"
print(y)

0    Rohit
1    mohit
2    rishi
dtype: object


0     Rohit
1     mohit
2    gaurav
dtype: object

In [5]:
# creating from a dictionary.
# Keys of the dictionary become the index.

dict_ = {"a":11,"b":22,"c":33,"d":44}
series3= pd.Series(dict_)
print(series3)

a    11
b    22
c    33
d    44
dtype: int64

In [16]:
z = pd.Series({"a":"apple","b":"bat","c":"cat"})
z

a    apple
b      bat
c      cat
dtype: object

# Lets provide the index also

In [6]:
x = pd.Series(["Welcome","to","vijAI"], index = ["A","B","C"])
print(x)

A    Welcome
B         to
C      vijAI
dtype: object

In [7]:
x = pd.Series(["Welcome","to","vijAI"], index = ["1","2","3"])
print(x)

1    Welcome
2         to
3      vijAI
dtype: object

In [8]:
x = pd.Series(["Welcome","to","vijAI"],[1,"a",True])
print(x)

1       Welcome
a            to
True      vijAI
dtype: object

# Important Operations.

- Data alignment is intrisic.
 
- Using numpy functions or NumPy operations,such as filtering with a Boolean array and scalar muliplicattion will preserve the index-value link.

In [9]:
import pandas as pd
# Boolean series.
y = pd.Series([1,2,3,4,4,7,2,8])
y>4  # This gives a boolean series

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7     True
dtype: bool

In [10]:
y*3

0     3
1     6
2     9
3    12
4    12
5    21
6     6
7    24
dtype: int64

In [11]:
y-2

0   -1
1    0
2    1
3    2
4    2
5    5
6    0
7    6
dtype: int64

In [12]:
y%2

0    1
1    0
2    1
3    0
4    0
5    1
6    0
7    0
dtype: int64

In [13]:
y!=2

0     True
1    False
2     True
3     True
4     True
5     True
6    False
7     True
dtype: bool

In [14]:
x = pd.Series([1,2,3])
y = pd.Series([4,5,6])
x+y

0    5
1    7
2    9
dtype: int64

In [15]:
x = pd.Series(["rohit","mohit","rishi",])  # NaN is call not a number
y = pd.Series(["1","2","3","4"])
x+y

0    rohit1
1    mohit2
2    rishi3
3       NaN
dtype: object

In [16]:
y = pd.Series(["rohit",1,True,1.2])
y

0    rohit
1        1
2     True
3      1.2
dtype: object

In [17]:
y[2]

True

In [18]:
x = pd.Series([1,2,3,4],index=[0,0,0,0])
y =pd.Series([5,6,7,8],index=[1,1,1,1])
x+y

0   NaN
0   NaN
0   NaN
0   NaN
1   NaN
1   NaN
1   NaN
1   NaN
dtype: float64

In [19]:
x = pd.Series([1,2,3,4],index=[0,0,0,0])
y =pd.Series([5,6,7,8],index=[0,0,0,0])
x+y

0     6
0     8
0    10
0    12
dtype: int64

In [20]:
x = pd.Series([1,2,3,4],index=["a","b","c","d"])  # adding the value a to a , b to b
y =pd.Series([5,6,7,8],index=["c","d","b","a"])
x+y

a     9
b     9
c     8
d    10
dtype: int64

In [21]:
x = pd.Series([1,2,3,4],index=["a","b","c","d"])  # adding the value a to a , b to b
y =pd.Series([5,6,7,8],index=["c","d","b",3])
x+y

3     NaN
a     NaN
b     9.0
c     8.0
d    10.0
dtype: float64

In [22]:
import pandas as pd

In [23]:
x = pd.Series([1,2,3,4],index=[1,2,3,4])  # adding the value a to a , b to b
y =pd.Series([5,6,7,8],index=[1,2,3,4])
x+y

1     6
2     8
3    10
4    12
dtype: int64

In [24]:
x = pd.Series([[1,2,3,4],[5,6,7,8]],index = [[1,2,3,4],[12,33,32,56]])  
y =pd.Series([[5,6,7,8],[9,10,11,12]],index = [[11,21,31,41],[20,43,44,20]])
x[3]

ValueError: Length of values (2) does not match length of index (4)

In [ ]:
x = pd.Series([[1,2,3,4],[5,6,7,8]],index = [1,2])  
y =pd.Series([[5,6,7,8],[9,10,11,12]],index = [3,4])
print(x[1][3])
y[4][1]

In [ ]:
x = pd.Series([[1,2,3,4],[5,6,7,8]],index = [1,2])  
y =pd.Series([[5,6,7,8],[9,10,11,12]],index = [3,4])
print(x[1][1:3])
y[4][-4:4]

In [ ]:
x = pd.Series(((1,2,3,4),(5,6,7,8)),index = [1,2])    # tuple
y =pd.Series(((5,6,7,8),(9,10,11,12)),index = [3,4])
print(x[1][3])
y[4][1]

In [ ]:
x = pd.Series({{1,2,3,4},{5,6,7,8}},index = [1,2])    # not in set indexing on nested
y =pd.Series({{5,6,7,8},{9,10,11,12}},index = [3,4])
print(x[1][3])
y[4][1]

In [ ]:
x = pd.Series([[1,2,3,4],[5,6,7,8]],index = [1,2])  # List series.
y =pd.Series([[5,6,7,8],[9,10,11,12]],index = [3,4])
print(x[1][3])
y[4][1]

# DataFrame


Pandas DataFrame objects are generally created from the following data types:-
- 1 ndarray
- 2 Dictionary
- 3 List 
- 4 Series
- 5 DataFrame

In [ ]:
# Using ndarray
import numpy as np
new_data = pd.DataFrame(np.array([[1,2,3,4,5],[6,7,8,9,10]]))
new_data

In [ ]:
# Using a list
x = pd.DataFrame([[1,2,3,4],[5,6,7,8]])
x

In [ ]:
# Using a Dict
dict_dataframe = pd.DataFrame({"a":{1:"welcome",2:"To"},"b":{1:"HELLO",2:"hi"}})
dict_dataframe

In [ ]:
# using dict in list value
df = pd.DataFrame({"a":[1,2,3,4,5],"b":[6,7,8,9,0]})
df

In [31]:
#using Series
df = pd.DataFrame(pd.Series({1:"a",2:"b",3:"c"}))
df

   0
1  a
2  b
3  c

In [32]:
# using DataFrame
df = pd.DataFrame(df)
df

   0
1  a
2  b
3  c

In [64]:
import pandas as pd
import numpy as np
df = pd.DataFrame(df)
list(df)
a = np.array(df)
a

array([['a'],
       ['b'],
       ['c']], dtype=object)

In [34]:
x = pd.DataFrame([[1,2,3,4],[5,6,7,8]])
y = pd.DataFrame([[9,10,11,12],[13,14,15,16]])
x+y

    0   1   2   3
0  10  12  14  16
1  18  20  22  24

In [35]:
x = pd.DataFrame([[1,2,3,4],[5,6,7,8]])
y = pd.DataFrame([[9,10,11,12],[13,14,15,16]])
o = x-y
o

   0  1  2  3
0 -8 -8 -8 -8
1 -8 -8 -8 -8

In [4]:
x = pd.DataFrame([["1","2","3","4"],["5","6","7","8"]])
y = pd.DataFrame([["1","2","3","4"],["5","6","7","8"]])
x+y

    0   1   2   3
0  11  22  33  44
1  55  66  77  88

In [5]:
x = pd.DataFrame([["1","2","3","4"],[5,6,7,8]],index=["concatination","add"])
y = pd.DataFrame([["1","2","3","4"],[13,14,15,16]],index=["concatination","add"])
z = x+y
z

                0   1   2   3
concatination  11  22  33  44
add            18  20  22  24

In [6]:
x = pd.DataFrame([["1","2","3","4"],[5,6,7,8]])   # same data type will work
y = pd.DataFrame([[13,14,15,16],["1","2","3","4"]])
x+y

TypeError: can only concatenate str (not "int") to str

In [7]:
df = pd.DataFrame({0:[1,2,3,4,5],1:[5,6,7,8,9]})
series = pd.Series([1,2,3,4,5])
df+series

   0   1   2   3   4
0  2   7 NaN NaN NaN
1  3   8 NaN NaN NaN
2  4   9 NaN NaN NaN
3  5  10 NaN NaN NaN
4  6  11 NaN NaN NaN

In [30]:
array = pd.DataFrame([[22,33,44,55],[66,77,88,99]])
array

    0   1   2   3
0  22  33  44  55
1  66  77  88  99

In [53]:
array = pd.DataFrame({"A":(1,2,3,4),"B":(5,6,7,8)})
array

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [65]:
array = pd.DataFrame({"A":pd.Series([1,2,3,4]),"B":pd.Series([5,6,7,8])})
array

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

# Rssential Functionality

# Reindexing 

An important methodon pandas objects is reindex, which means to create an new object with value rearranged according to the new index.

In [5]:
import pandas as pd
obj = pd.Series([45,23,87,56], index = ["d","c","b","a"])
obj

d    45
c    23
b    87
a    56
dtype: int64

In [3]:
obj = obj.reindex(["a","b","c","d"])
obj

a    56
b    87
c    23
d    45
dtype: int64

In [4]:
# A Series's index can be altered in place by assignment:
obj.index = ["a","b","c","d"]
obj

a    56
b    87
c    23
d    45
dtype: int64

In [9]:
obj2 = pd.DataFrame([[45,23,87,56],[23,34,56,78,]], index = ["b","a"])
obj2

    0   1   2   3
b  45  23  87  56
a  23  34  56  78

In [10]:
obj2 = obj2.reindex(["a","b"])
obj2

    0   1   2   3
a  23  34  56  78
b  45  23  87  56

In [2]:
# With DataFrame, reindex can alter the index,colums,or both.
import numpy as np

In [22]:
df = pd.DataFrame(np.arange(9).reshape((3,3)),index = ["a","c","b"],columns = ['y','z','x'])
df

   y  z  x
a  0  1  2
c  3  4  5
b  6  7  8

In [23]:
df = df.reindex(index=['a','b','c'],columns =["x","y","z"])
df

   x  y  z
a  2  0  1
b  8  6  7
c  5  3  4

In [24]:
df = pd.DataFrame(np.arange(9).resize((3,3)),index = ["a","c","b"],columns = ['y','z','x'])
df    # resize is making an new object

     y    z    x
a  NaN  NaN  NaN
c  NaN  NaN  NaN
b  NaN  NaN  NaN

In [67]:
print(np.arange(9).resize(3,3))

None

In [8]:
z = pd .DataFrame([[1,2,3,4,5],[5,43,2,21,1]],index = ["a","d"],column =["x","y","z",])
print(z)
z = z.reindex(index = ["a","b"])
z

   0   1  2   3  4
a  1   2  3   4  5
d  5  43  2  21  1

     0    1    2    3    4
a  1.0  2.0  3.0  4.0  5.0
b  NaN  NaN  NaN  NaN  NaN

# Indexing, Selecting and Filtering

Series indexing works similer to NamPy array indexing,except you can use the Sreied's index values(labels) instead of only integers.

In [4]:
lst = [1,2,3,4]
lst[2]

3

In [1]:
import pandas as pd 

ser1 = pd.Series([5,4,6,7])
print(ser1)
print()
ser1[0]

0    5
1    4
2    6
3    7
dtype: int64

5

In [2]:
ser2 = pd.Series([5,4,6,7],index=["a","b","c","d"])
print(ser2)
print()
ser2["a"]

a    5
b    4
c    6
d    7
dtype: int64

5

In [3]:
ser2[3]

7

In [4]:
ser2[["a","b","c","d"]]    # .loc bace.

a    5
b    4
c    6
d    7
dtype: int64

In [5]:
ser2[1::3]

b    4
dtype: int64

In [6]:
ser2[0]  # .iloc  integer base .

5

while can select data by label this way, thw preferred way to select index values is with the special loc operater

In [15]:
obj1 = pd.Series([1,2,3,], index = [2,0,1])
obj2 = pd.Series([1,2,3], index = ["a","b","c"])
print(obj1)

2    1
0    2
1    3
dtype: int64

In [8]:
print(obj2)

a    1
b    2
c    3
dtype: int64

In [9]:
obj1[0]

2

In [10]:
obj2[0]

1

# The .loc operater is used to select data by label

In [12]:
obj2

a    1
b    2
c    3
dtype: int64

In [13]:
obj2.loc[[0,1,2]] # erroe because [0,1,2] are not the lablea of obj2.

KeyError: "None of [Int64Index([0, 1, 2], dtype='int64')] are in the [index]"

In [14]:
obj2.loc[["a","b"]]

a    1
b    2
dtype: int64

In [15]:
obj1

2    1
0    2
1    3
dtype: int64

In [16]:
obj1.loc[0]

2

# .iloc operater indexes only With integers And Not by labels.

In [17]:
obj1.iloc[0]

1

In [18]:
print(obj1)

2    1
0    2
1    3
dtype: int64

In [19]:
obj1.iloc[0]

1

In [20]:
obj1.loc[0]

2

In [21]:
print(obj2)

a    1
b    2
c    3
dtype: int64

In [22]:
obj2.iloc[2]

3

In [12]:
# start and stop index are inclusive when slicing by labels (by using or not using .loc)
print(obj2)

a    1
b    2
c    3
dtype: int64

In [24]:
obj2["a":"c"]     # IT IS INCLUSIVE

a    1
b    2
c    3
dtype: int64

In [25]:
obj2.loc["a":"c"]

a    1
b    2
c    3
dtype: int64

In [26]:
obj2.iloc[0:2]

a    1
b    2
dtype: int64

# Indexing with DataFrame

In [3]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,1]],index = ["A","B","C","D"],columns=["Haldwani","Delhi","Ramnagar"])
df

   Haldwani  Delhi  Ramnagar
A         1      2         3
B         4      5         6
C         7      8         9
D        10     11         1

In [18]:
df.loc[["B","C"],["Haldwani","Delhi"]]

   Haldwani  Delhi
B         4      5
C         7      8

In [19]:
df.loc[["B","C"],["Delhi","Ramnagar"]]

   Delhi  Ramnagar
B      5         6
C      8         9

In [20]:
df["Haldwani"] # Selecting a column

A     1
B     4
C     7
D    10
Name: Haldwani, dtype: int64

In [29]:
df.Ramnagar

A    3
B    6
C    9
D    1
Name: Ramnagar, dtype: int64

In [30]:
x = pd.Series([1,2,3,4])
x.name = "Demo"
x

0    1
1    2
2    3
3    4
Name: Demo, dtype: int64

In [31]:
df[:2] # Selecting the rows Slicing

   Haldwani  Delhi  Ramnagar
A         1      2         3
B         4      5         6

In [5]:
df["Haldwani"]

A     1
B     4
C     7
D    10
Name: Haldwani, dtype: int64

In [32]:
df["Haldwani"]>2 # Gives a boolean array (boolean series)

A    False
B     True
C     True
D     True
Name: Haldwani, dtype: bool

In [33]:
df[df["Haldwani"]>2] # Selecting data with a boolen array

   Haldwani  Delhi  Ramnagar
B         4      5         6
C         7      8         9
D        10     11         1

In [34]:
df<2 # Boolen DataFrame

   Haldwani  Delhi  Ramnagar
A      True  False     False
B     False  False     False
C     False  False     False
D     False  False      True

In [35]:
# Indexing with a boolean dataframe
df[df<2]

   Haldwani  Delhi  Ramnagar
A       1.0    NaN       NaN
B       NaN    NaN       NaN
C       NaN    NaN       NaN
D       NaN    NaN       1.0

In [36]:
df[df<2]=4
df

   Haldwani  Delhi  Ramnagar
A         4      2         3
B         4      5         6
C         7      8         9
D        10     11         4

In [37]:
df = pd.DataFrame([[1,2,3,4],[4,5,6,5],[7,8,9,2],[10,11,1,5],[2,3,6,5]],index = ["A","B","C","D","E"],columns=["Haldwani","Delhi","Ramnagar","New Delhi"])
print(df)
#df.New_Delhi

   Haldwani  Delhi  Ramnagar  New Delhi
A         1      2         3          4
B         4      5         6          5
C         7      8         9          2
D        10     11         1          5
E         2      3         6          5

In [38]:
df.loc["A"]

Haldwani     1
Delhi        2
Ramnagar     3
New Delhi    4
Name: A, dtype: int64

In [39]:
df["B":"C"]

   Haldwani  Delhi  Ramnagar  New Delhi
B         4      5         6          5
C         7      8         9          2

In [40]:
df.Haldwani[0:2]

A    1
B    4
Name: Haldwani, dtype: int64

In [44]:
df.loc[["A"]]

   Haldwani  Delhi  Ramnagar  New Delhi
A         1      2         3          4

|.S.NO | Name |
|------|------|
| 1.   | Rohit|
| 2.   | rishi|

| Type |   Note  |
|------|---------|
|df[column]           |Select single column or sequence of columns from the DataFrame |
|df[slice]            |Slice rows                                                     |
|df[Boolean array]    |Filter rows                                                    |
|df[Boolean DataFrame]|set values based on same criterion                             |
|df,loc[rows]         |Select single roe or subset of roww from the DataFrame by label|
|df.loc[:,cols]       |select both rows and  colums by label                          |
|df.loc[rows,cols]    |select single row(s) and column(s) by lable                    |
|df.iloc[rows]        |Select single row pr subset of rows from the DataFrame by integer position|
|df.iloc[:,cols]      |Select single column or subset of columns by integer position             |
|df.iloc[rows,cols]   |select both row(s) and column(s) by integer position                      |

In [45]:
df = pd.DataFrame([[1,2,3,4],[4,5,6,5],[7,8,9,2],[10,11,1,5],[2,3,6,5]],index = ["A","B","C","D","E"],columns=["Haldwani","Delhi","Ramnagar","New Delhi"])
df["Ramnagar"]

A    3
B    6
C    9
D    1
E    6
Name: Ramnagar, dtype: int64

In [1]:
import pandas as pd
df = pd.DataFrame({"a":[1,2,3,4,5],"b":[5,8,3,7,3],"c":[12,4,9,65,0]},index=["r1","r2","r3","r4","r5"])
df

    a  b   c
r1  1  5  12
r2  2  8   4
r3  3  3   9
r4  4  7  65
r5  5  3   0

In [49]:
df.loc["r1"]  # prints row r1

a     1
b     5
c    12
Name: r1, dtype: int64

In [52]:
df.loc[["r1","r3","r2"]]  # prints row r1,r2,r3

    a  b   c
r1  1  5  12
r3  3  3   9
r2  2  8   4

In [54]:
df.loc[["r1","r2","r3"],["a","c"]]  # prints r1,r2,r3 and a,c

    a   c
r1  1  12
r2  2   4
r3  3   9

In [55]:
df.loc["r1":"r3","a":"c"]  # prints row r1,r2,r3 and a,b

    a  b   c
r1  1  5  12
r2  2  8   4
r3  3  3   9

In [56]:
df.iloc[1:3,0:3]

    a  b  c
r2  2  8  4
r3  3  3  9

In [58]:
df.iloc[[1,2],2]

r2    4
r3    9
Name: c, dtype: int64

In [59]:
df.iloc[[1,2],[0,1]]

    a  b
r2  2  8
r3  3  3

In [60]:
df.iloc[[0]]

    a  b   c
r1  1  5  12

In [ ]:
df = pd.DataFrame([[1,2,3,4],[4,5,6,5],[7,8,9,2],[10,11,1,5],[2,3,6,5]],index = ["A","B","C","D","E"],columns=["Haldwani","Delhi","Ramnagar","New Del

In [71]:
df.loc[:,"Ramnagar"]

KeyError: 'Ramnagar'

In [94]:
df = pd.DataFrame([["Daal",800],["Chawal",1000],["honey",2000],["Fish",500]],index=["A","B","C","D"],columns=["Product","Price"])
df

  Product  Price
A    Daal    800
B  Chawal   1000
C   honey   2000
D    Fish    500

In [99]:
df.Price>1000

A    False
B    False
C     True
D    False
Name: Price, dtype: bool

In [100]:
df[df.Price>1000]

  Product  Price
C   honey   2000

In [1]:
import pandas as pd
# name , age ,weight, hight
student = pd.DataFrame([["Rohit",28,55,5.7],["Rishi",27,65,5.6],["Gaurav",28,60,5.7]],index=["A","B","C"],columns=["Name","Age","Wight","Hight"])
student

     Name  Age  Wight  Hight
A   Rohit   28     55    5.7
B   Rishi   27     65    5.6
C  Gaurav   28     60    5.7

In [5]:
student.Age==27

A    False
B     True
C    False
Name: Age, dtype: bool

In [6]:
student[student.Hight>5]

     Name  Age  Wight  Hight
A   Rohit   28     55    5.7
B   Rishi   27     65    5.6
C  Gaurav   28     60    5.7

In [7]:
student.loc[["A","B"],["Name","Age","Hight"]]

    Name  Age  Hight
A  Rohit   28    5.7
B  Rishi   27    5.6

In [8]:
student.loc["A"]

Name     Rohit
Age         28
Wight       55
Hight      5.7
Name: A, dtype: object

In [9]:
student.iloc[1]

Name     Rishi
Age         27
Wight       65
Hight      5.6
Name: B, dtype: object